{% load staticfiles %}
<!-- Code for the first site -->
<!DOCTYPE html>
<html lang="en">

<head>
	<title>{% block head_title %}INNO{% endblock head_title%}</title>
	<meta charset="utf-8"/>
	<link rel="icon" href="{% static 'personal/images/favicon.ico' %}" type="image/x-icon"/>
	<link rel="stylesheet" href="{% static 'personal/css/style.css' %}" type = "text/css"/>
	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
	

</head>
<body>
	<div class="intro">
		<div class="inner">
				<nav>
					<ul>
						<li><a href="/create">Upload</a></li>
						<li><a href="/">Search</a></li>
						<li><a href="http://oma.metropolia.fi">OMA</a></li>
					</ul>
				</nav>
			<div class='container'>
			{% block content %}
			{% endblock content %}
			</div>
		</div>

	</div>

</body>
</html>