<!-- Code for the first site -->

<!DOCTYPE html>
<html>

<head>
	<title>POKALE</title>	
	<meta charset="utf-8"/>
	{% load staticfiles %}
	<link rel="icon" href="{% static 'personal/images/favicon.ico' %}" type="image/x-icon" />
	<link rel="stylesheet" href="{% static 'personal/css/style.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">
</head>
<body>
<section class="intro">
	<div class="inner">
		<div class="nav">
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li class="current"><a href="/search">Search</a></li>
					<li><a href="http://oma.metropolia.fi">OMA</a></li>
				</ul>
		</nav>
		<div class="content">
			<h1>Search files</h1>
			<form id = "search">
  				<input type="text" name="search" placeholder="Search..">
	  				<h3>{{post.title}}</h3>
	  				<h6>on {{post.date}}</h6>
	  				{{post.body|safe|linebreaks}}
			</form>
		</div>
	</div>
	</div>
</section>
	

</body>
</html>