<!-- Code for the first site -->


<!DOCTYPE html>
<html lang="en">

<head>
	<title>POKALE</title>
	<meta charset="utf-8"/>
	{% load staticfiles %}
	<link rel="icon" href="{% static 'personal/images/favicon.ico' %}" type="image/x-icon" />
	<link rel="stylesheet" href="{% static 'personal/css/style.css' %}" type = "text/css"/>
	<meta name="viewport" content = "width=device-width, initial-scale=1.0">

</head>
<body>
<section class="intro">
	<div class="inner">
		<div class="nav">
			<nav>
				<ul>
					<li class="current"><a href="/">Home</a></li>
					<li><a href="/search">Search</a></li>
					<li><a href="http://oma.metropolia.fi">OMA</a></li>
				</ul>
		</nav>
		<div class="content">
			<h1>Upload files</h1>
			<section style="display: none;" id="form">
				<form action="upload_file.php" method="post" name="form" enctype="multipart/form-data">
				<span>First name: </span><input type="text" name="FirstName" value=""><br>
				<span>Last name: </span><input type="text" name="LastName" value=""><br>
				<span>Thesis name: </span><input type="text" name="Thesisname" value=""><br>
				<input type="file" value="Upload" />
				<input type="reset" value="Reset the form">
				<br />
				<input type="submit" name="query" value="Submit" />
				</form>
			</section>
			<a id="btn" onclick="showsec('showpage')" style = "display: inline;" type="button" href="#">Get Started </a>
			<script type="text/javascript">
					function showsec(showpage) {
							document.getElementById('form').style.display ='block';
							document.getElementById("btn").style.display = 'none';
					}
			</script>
		</div>
	</div>
	</div>
</section>
	

</body>
</html>