@import url('https://font.googleapis.com/css?family=Raleway');
@import url('https://font.googleapis.com/css?family=Oswald');

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

nav {
	text-align:center;
}
nav ul {
    list-style-type:none;
    margin:0 auto;
    padding:0;
    text-align: center;
}

nav ul li {
	display: inline-block;
	font-variant: small-caps;
	letter-spacing: 4px;
	border-right: 1px solid #111111; 
	margin-right: 10px;
	padding-right: 10px;
}

nav ul li:last-child  {
	border-right: none;
	margin-right: 0;
	padding-right: 0;
}

nav a {
	color: #111111;
	text-decoration:none;
}

nav a:hover, nav .current a {
	text-decoration: underline;

}

#search [type=text] {
	width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}

#search [type=text]:focus {
	border: 3px solid #555;
}

#search input[type=text] {
    width: 130px;
    padding: 17px;
    padding-left: 55px;
    margin: 15px;
    margin-left: 0px;
    height: 25px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url(../images/searchicon.png);
    background-position: left-center; outline: 0; 
    background-size: 25px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#search input[type=text]:focus {
    width: 50%;
}

.post-divider {
   margin: 12px 0 20px 0 !important;
   border-bottom: 1px solid #bbbbbb;
 }

.form {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    background: #555;
    padding: 20px 30px 20px 30px;
    color: #D3D3D3;
    text-shadow: 1px 1px 1px #444;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

.form p label {
	display: inline-block;
  	width: 175px; 
  	float:left;
}
.form p input {
	display: inline;
}

#id_content {
	width: 255px;
}
